.display-3, .lead {
  text-align: center;
}
.marketing {
  text-align: center;
}
#logIn {
  margin-left: 425px;
}
.apu {
  width: 100px;
  height: 300px;
  display: inline;
  margin-left: 465px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.jumbotron {
  padding: 30px 30px;
}