<div>
    <main role="main">
  <div class="jumbotron">
    <h1 class="display-3">Kwik-E-Video</h1>
    <img src="http://vignette1.wikia.nocookie.net/simpsonstappedout/images/4/47/Apu.png/revision/latest?cb=20140716095331" alt="" class="apu">
    <p class="lead">The inconvienence and low quality selection and service of 90's video rental stores.... TODAY!</p>
    <app-login id="logIn"></app-login>
  </div>

  </main>

  <footer class="footer">
    <p>&copy; Kwik-E Corp 2017</p>
  </footer>

</div> <!-- /container -->
